.card {
  
}

.gallery-top {
  width: 100%;
  height: 423px;
  margin-bottom: 30px;
  background-color: #F5F5F5;
  box-sizing: border-box;
}

.card__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  
  img {
    display: block;
    flex: 0 0 auto;
    max-height: 100%;
  }
}

.gallery-thumbs {
  height: 93px;
  box-sizing: border-box;
}

.card__thumb {
  width: 95px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  
  img {
    display: block;
    flex: 0 0 auto;
    max-height: 100%;
  }
}

.gallery-thumbs .swiper-slide-thumb-active {
  border: 1px solid $blue;
}

.card__prev,
.card__next {
  background-image: url(../img/icons/icon-next.svg);
  background-size: 9px 11px;
  
  &:hover,
  &:active {
    background-image: url(../img/icons/icon-next-red.svg);
  }
}

.card__prev {
  left: 0;
  transform: rotate(180deg);
}

.card__next {
  right: 0;
}

.card__btn {
  height: 45px;
  margin-bottom: 30px;
  font-weight: 700;
}

.card__faq {
  height: 45px;
  margin-bottom: 50px;
  padding-top: 5px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  background-color: #C4C4C4;
}

.card__info {
  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    
    tr:nth-child(2n + 1) {
      background-color: #F5F5F5;
    }
    
    td {
      height: 45px;
      padding: 6px;
      border: 1px solid #C4C4C4;
    }
    
    td:first-child {
      width: 65%;
      font-weight: 700;
    }
    
    td:last-child {
      width: 35%;
    }
  }
}

.card__tabs {
  margin-bottom: 80px;
  padding: 20px;
  background-color: #E5E5E5;
}

.card__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.card__option {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
  font-weight: 700;
  font-size: 20px;
  color: $blue;
  letter-spacing: 0.05em;
  
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 12px;
    height: 7px;
    background-image: url(../img/icons/icon-down-blue.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  &--opened {
    color: $red;
    
    &::after {
      background-image: url(../img/icons/icon-up-red.svg);
    }
  }
}

.card__field {
  display: none;
  padding-bottom: 30px;
}

.card__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
}

.card__row {
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  background-color: $blue;
  border: 1px solid #C4C4C4;
  border-bottom: 0;
}

.card__row2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 45px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  background-color: #fff;
  border: 1px solid #C4C4C4;
  border-bottom: 0;
}

.card__table {
  table {
    width: 100%;
    font-size: 18px;
    text-align: center;
    border-collapse: collapse;
    background-color: #fff;
    
    th,
    td {
      height: 65px;
      width: 50%;
      border: 1px solid #C4C4C4;
    }
    
    th:first-child,
    td:first-child {
      color: #fff;
      font-weight: 700;
      background-color: $blue;
    }
    
    th {
      font-weight: 700;
    }
  }
}

.card__sublist {
  padding: 0;
  margin: 0;
  list-style: none;
}

.card__subitem {
  margin-bottom: 20px;
}

.card__suboption {
  position: relative;
  display: block;
  width: 100%;
  padding: 10px;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  text-align: left;
  letter-spacing: 0.05em;
  background-color: $blue;
  
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 45px;
    background-color: #DB7C42;
    background-image: url(../img/icons/icon-down-white.svg);
    background-repeat: no-repeat;
    background-size: 11px 11px;
    background-position: center;
  }
  
  &--opened::after {
    transform: rotate(-180deg);
  }
}

.card__subfield {
  display: none;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  background-color: #F5F5F5;
  
  .title-4 {
    margin-top: 0;
  }
  
  a {
    text-decoration: underline;
    color: $red;

    &:hover,
    &:active {
      text-decoration: none;
    }
  }
}
