.fancybox-close-small {
  background-image: url(../img/icons/icon-close-dark.svg);
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: center;
  
  svg {
    display: none;
  }
}

.form__input {
  display: block;
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  padding: 0 10px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.05em;
  background-color: #F5F5F5;
  
  &::placeholder {
    color: rgba(51, 51, 51, 0.5);
    opacity: 1;
  }
}

.form__captcha {
  margin-bottom: 20px;
}

.form__btn {
  height: 60px;
  margin-bottom: 20px;
  font-size: 16px;
  letter-spacing: 0.05em;
}

.form__checkbox {
  display: none;
}

.form__label {
  display: block;
  position: relative;
  padding-left: 25px;
  
  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid $red;
  }
  
  &::after {
    display: none;
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 15px;
    height: 15px;
    background-image: url(../img/icons/icon-tick-blue.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13px 13px
  }
  
  a {
    color: $red;
    text-decoration: underline;
    
    &:hover,
    &:active {
      text-decoration: none;
    }
  }
}

.form__checkbox:checked + .form__label::after {
  display: block;
}
