.info {
  padding-bottom: 42px;
  
  .title {
    margin-bottom: 48px;
  }
}

.info__img {
  width: 100%;
  margin-bottom: 8px;
  
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.info__text {
  margin-top: 30px;
  margin-bottom: 50px;
  
  p {
    margin-bottom: 20px;
  }
}

.info__attention {
  margin-top: 28px;
  font-size: 14px;
}
