.list {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
    li {
      position: relative;
      padding-left: 22px;
      margin-top: 20px;
      margin-bottom: 22px;
      
      &::before {
        content: "";
        position: absolute;
        top: 5px;
        left: 0;
        width: 12px;
        height: 12px;
        background-color: $blue;
      }
    }
  }
}
