.menu__btn {
  display: block;
  width: 48px;
  height: 48px;
  background-color: $blue;
  background-image: url(../img/icons/icon-menu.svg);
  background-repeat: no-repeat;
  background-size: 28px 20px;
  background-position: center;
}

.menu--opened {
  .menu__btn {
    background-image: url(../img/icons/icon-close.svg);
    background-size: 22px 22px;
  }
}

.menu__drop {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 100;
}

.menu__top {
  padding: 5px 20px;
  padding-bottom: 15px;
  background-color: $blue;
}

.menu__list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 20px;
}

.menu__item {
  color: rgba(255,255,255,0.8);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  
  &:hover,
  &:active,
  &--active {
    color: #fff;
  }
}

.menu__link {
  display: block;
  padding-top: 15px;
  padding-bottom: 10px;
}

.menu__bottom {
  padding: 20px;
  background-color: #F5F5F5;
}

.menu__sublist {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  
  li {
    width: 50%;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: $blue;
    
    a:hover,
    a:active {
      color: $red;
    }
  }
}

.menu__phones {
  margin-bottom: 10px;
  
  a {
    position: relative;
    display: block;
    max-width: 180px;
    margin: 5px auto;
    padding-left: 18px;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.1em;
    
    &::before {
      content: "";
      position: absolute;
      top: 7px;
      left: 0;
      width: 13px;
      height: 13px;
      background-image: url(../img/icons/icon-call.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }
    
    &:hover,
    &:active {
      color: $blue;
    }
  }
}
