.modal {
  width: 335px;
  max-width: 100%;
  padding: 10px;
  padding-bottom: 35px;
  
  .title-2 {
    margin-bottom: 10px;
  }
}

.modal__subtitle {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: $blue;
  text-align: center;
}
